mat-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 97%;
    width: 100%;
}

mat-nav-list>div {
    margin-top: 5px;
    width: 100%;
}

#addButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addButton>a:hover {
    background-color: #38469b;
    transition: 400ms;
}

#loginLink>mat-icon {
    background-color: red;
}

#userConfig {
    font-weight: 600;
}

.menu-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}