<mat-nav-list>
    <div>
        <div id="addButton">
            <a mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
            </a>
        </div>

        <mat-list-item id="dashboardLink" routerLink="dashboard" routerLinkActive="active">
            <mat-icon mat-list-icon>home</mat-icon>
            <span class="menu-item">Dashboard</span>
        </mat-list-item>
        <mat-list-item id="walletsButton" routerLink="wallets" routerLinkActive="active">
            <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
            <span class="menu-item">Carteiras</span>
        </mat-list-item>
    </div>

    <mat-list-item id="userConfig" routerLink="user/config/profile" routerLinkActive="active">
        <span class="menu-item">{{currentUser.name}}</span>
    </mat-list-item>

</mat-nav-list>