@media (min-width:600px) and (max-width:768px) {
    header {
        height: 15%;
        display: flex;
        justify-content: center;
    }
    div.container {
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    div.container>img {
        width: 25%;
        border-radius: 110px;
        opacity: 0.7;
    }
    app-authenticate-form {
        width: 54%;
    }
}