header{
  display: flex;
  justify-content: space-between;
  
  height: 10%;
}
main{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
fin-h3{
  color: gray;
}
main>section#actualBalanceSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main>div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div#actionsDiv{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
div#actionsDiv>fin-icon-button{
  margin-left: 5px;
}
.green{
  color: #4CAF50;
}
.red{
  color:#f44336;
}
.blue{
  color: rgb(38, 110, 245);
}