<ng-container *ngIf="customer">
  <header>
    <fin-title label="Detalhes da carteira"></fin-title>
    <fin-icon-button (click)="closeDetailsDialog()" icon="close" color="warn"></fin-icon-button>
  </header>
  
  <main>
    <fin-subtitle [label]="customer.name"></fin-subtitle>
    <section id="actualBalanceSection">
      <fin-h3 label="Saldo Atual"></fin-h3>
      <span [ngClass]="{green:actualBalance >= 0, red:actualBalance < 0}">{{actualBalance | currency:'BRL':'symbol':'1.2-2': 'pt-BR'}}</span>
    </section>
    <div>
      <p>Tipo</p> 
      <p>{{customer.type | convertEnum :customerTypesOptionsPortuguese }}</p>
    </div>
    <div>
      <p>Saldo inicial</p>
      <span [ngClass]="{green:customer.initialBalance  >= 0, red:customer.initialBalance  < 0}">{{customer.initialBalance | currency : 'BRL' : 'symbol' : '1.2' : 'pt-br'}}</span>
    </div>
    <div>
      <p>Quantidade de despesas</p>
      <p class="red">{{expenses.length}}</p>
    </div>
    <div>
      <p>Quantidade de receitas</p>
      <p class="green">{{revenues.length}}</p>
    </div>
    <div>
      <p>Quantidade de transferências</p>
      <p class="blue">{{transfers.length}}</p>
    </div>
    <div id="actionsDiv">
      <ng-container *ngIf="!customer.isArchived">
        <fin-icon-button  (click)="openConfirmationArchiveCustomerDialog()" icon="archive" color="warn"></fin-icon-button>
        <fin-icon-button (click)="openCustomerEditorDialog()" icon="edit"></fin-icon-button>
      </ng-container>
      <ng-container *ngIf="customer.isArchived">
        <fin-icon-button  (click)="openConfirmationDeleteCustomerDialog()" icon="delete" color="warn"></fin-icon-button>
        <fin-icon-button (click)="openConfirmationUnarchiveCustomerDialog()" icon="unarchive"></fin-icon-button>        
      </ng-container>
    </div>
  </main>
</ng-container>
