<ng-container *ngIf="customer">
  <header>
    <fin-title label="Detalhes da carteira"></fin-title>
    <fin-close-button (click)="closeDetailsDialog()"></fin-close-button>
  </header>
  
  <main>
    <fin-subtitle [label]="customer.name"></fin-subtitle>
    <section id="actualBalanceSection">
      <fin-h3 label="Saldo Atual"></fin-h3>
      <span>WIP</span>
    </section>
    <div>
      <p>Tipo</p> 
      <p>{{customer.type | convertEnum :customerTypesOptionsPortuguese }}</p>
    </div>
    <div>
      <p>Saldo inicial</p>
      <span>{{customer.balance | currency : 'BRL' : 'symbol' : '1.2' : 'pt-br'}}</span>
    </div>
    <div>
      <p>Quantidade de despesas</p>
      <p>WIP</p>
    </div>
    <div>
      <p>Quantidade de receitas</p>
      <p>WIP</p>
    </div>
    <div>
      <p>Quantidade de transações</p>
      <p>WIP</p>
    </div>
    <div id="actionsDiv">
      <fin-delete-button (click)="openConfirmationDeleteCustomerDialog()"></fin-delete-button>
      <fin-edit-button (click)="openCustomerEditorDialog()"></fin-edit-button>
    </div>
    
  </main>
</ng-container>
