<mat-card class="fin-card">
  <mat-card-title-group class="informations">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>

    <mat-card-content class="content" [ngClass]="{ colorGreen: contentColor === 'green', colorRed: contentColor === 'red' }">
      {{ content }}
    </mat-card-content>
  </mat-card-title-group>

  <mat-card-title-group class="icon">
    <div class="mat-icon" [ngClass]="{ green: iconColor === 'green', red: iconColor === 'red', blue: iconColor === 'blue'}">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
  </mat-card-title-group>
</mat-card>
