<header>
  <fin-title [label]="label"></fin-title>
  <fin-icon-button (click)="closeEditorDialog()" icon="close" color="warn"></fin-icon-button>
</header>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <fin-input-currency 
    label="Valor"
    [formControlName]="formControls.value"
    [required]="true"></fin-input-currency>
    <fin-input
    label="Descrição"
    type="text"
    [formControlName]="formControls.description">
    </fin-input>
    <fin-date-picker [formControlName]="formControls.date" [required]="true"></fin-date-picker>
    
    <fin-select
      [formControlName]="formControls.receiverCustomerId"
      label="Carteira"
      [required]="true"
      [options]="customerSelectOptions"
    ></fin-select>
    <fin-select
      [formControlName]="formControls.categoryId"
      label="Categoria"
      [required]="true"
      [options]="categorySelectOptions">
    </fin-select>
  </div>
  
  <div class="div-fin-submit-button">
    <fin-submit-button label="Salvar" class="fin-submit-button" [disabled]="!canSave()">

    </fin-submit-button>
  </div>
</form>
