<header>
  <img src="../../assets/images/finanEXP-logo.png" alt="finanEXP-logo" />
</header>
<main>
  <img src="../../assets/images/DevelopmentWarningMessageImage.png" alt="Imagem de desenvolvimento" />

  <div>
    <fin-title label="Aplicativo em desenvolvimento"></fin-title>
    <div class="text">
      <p>Esse aplicativo está em fase de desenvolvimento e tem propósitos puramente acadêmicos.</p>

      <p>Por favor, não utilize informações reais de cadastro, não me responsabilizo por quaisquer informações vazadas!</p>
      <p>Att: Gabriel Di Domenico</p>
    </div>

    <fin-button color="warn" (click)="navigateToAuth()">Eu compreendo e quero logar assim mesmo</fin-button>
  </div>
</main>
