<main>
    <header>
        <fin-title label="Editar foto de perfil"></fin-title>
        <fin-close-button (click)="closeUserPhotoEditor()"></fin-close-button>
    </header>
    <div id="photoOptions">
        
        <app-perfil-photo [perfilPhoto]="perfilPhoto"></app-perfil-photo>

        <div id="divButtons">
            <fin-button (click)="fileInput.click()" color="primary">Fazer upload da imagem</fin-button>
            <fin-button (click)="removeImage()" [disabled]="canRemove()" color="primary">Remover imagem</fin-button>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
        </div>
    </div>
</main>