<header>
  <fin-title [label]="label"></fin-title>
  <fin-icon-button (click)="closeEditorDialog()" icon="close" color="warn"></fin-icon-button>
</header>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <fin-input 
    class="fin-input"
    label="Nome"
    type="text"
    [formControlName]="formControls.nameFormControl"
    [required]="true"></fin-input>
  </div>
  
    
  <div class="div-fin-submit-button">
    <fin-submit-button label="Salvar" class="fin-submit-button" [disabled]="!canSave()">

    </fin-submit-button>
  </div>
</form>
