<main>
    <div>
        <header>
            <div id="user">
                <app-perfil-photo (click)="openPerfilPhotoEditor()" [perfilPhoto]="perfilPhoto"></app-perfil-photo>
                <span>{{currentUser.name}}</span>
                <button *ngIf="!smallScreen" mat-icon-button id='logoutButton' (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
            </div>
        </header>
        <div class="div-nav">
            <nav mat-tab-nav-bar class="mat-elevation-z5" color="primary">
                <a mat-tab-link routerLink="profile" routerLinkActive="active">Perfil</a>
                <a mat-tab-link routerLink="security" routerLinkActive="active">Segurança</a>
            </nav>
        </div>
        <router-outlet></router-outlet>
    </div>

</main>