main {
  background-color: #dde5ff;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

content.content {
  margin-top: 5%;
  min-height: 100%;
  width: 90%;
}

main>header {
  margin-top: 10%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
div.actions{
  display: flex;
}
fin-icon-button{
  margin-right: 5px;
}
div.titleDiv{
  display: flex;
}
fin-title{
  margin-right: 10px;
}
mat-icon{
  margin-right: 10px;
  cursor: pointer;
}