@import url(./extra-small);
@import url(./small.css);
@font-face {
    font-family: Fredoka-regular;
    src: url(../../../../../assets/fonts/FredokaOne-Regular.ttf);
}

app-fin-title {
    font-family: 'Fredoka-regular';
    color: #557bd6;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}
#submitButton{
    margin-top: 20px;
}