div#confirmationDialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  height: 50%;
  width: 95%;
}
div.buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}
fin-button{
  margin-left: 5px;
}