<div id="confirmationDialog">
  <header>
    <fin-title label="Você tem certeza ?"></fin-title>
    <p>{{ message }}</p>
  </header>

  <form *ngIf="withVerification" [formGroup]="form" (ngSubmit)="submitForm()">
    <fin-input type="text" [formControlName]="this.formControls.confirmationString" label='Digite: "Desejo deletar"'></fin-input>

    <div class="buttons">
      <fin-submit-button label="Sim" *ngIf="withVerification" color="primary" [withIcon]="false"></fin-submit-button>
      <fin-button color="warn" (click)="cancel()">Não</fin-button>
    </div>
  </form>
  <div class="buttons">
    <fin-button *ngIf="!withVerification" color="primary" (click)="confirm()">Sim</fin-button>
    <fin-button *ngIf="!withVerification" color="warn" (click)="cancel()">Não</fin-button>
  </div>
  
</div>
