@font-face {
    font-family: Fredoka-regular;
    src: url(../../../../../../assets/fonts/FredokaOne-Regular.ttf);
}

h2 {
    font-family: 'Fredoka-regular';
    font-size: 1.7rem;
    color: #557bd6;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field.mat-form-field {
    width: 100%;
}

.passwordButtonIcon {
    height: 100%;
    width: 100%;
}
