@font-face {
    font-family: Fredoka-regular;
    src: url(../../../../../../assets/fonts/FredokaOne-Regular.ttf) format("opentype");
}

h2 {
    font-family: 'Fredoka-regular';
    color: #557bd6;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field.mat-form-field {
    width: 100%;
    font-size: 1.5rem;
}

mat-form-field.mat-form-field button {
    border: none;
    background-color: var(--main-color);
}

.passwordButtonIcon {
    height: 100%;
    width: 100%;
}