mat-form-field.mat-form-field{
  width: 100%;
}
div.nothingData {
  display: flex;
  justify-content: space-between;
}
div.mat-icon{
  margin: 0;
  height: 40px;
  width: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-icon{
  color: black;
  cursor: pointer;
}
