<mat-form-field class="mat-form-field" appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <ng-container>
    <mat-select
      [(ngModel)]="value"
      name="type"
      [required]="required"
      (selectionChange)="selectType($event)"
      *ngIf="options.length != 0">
      <mat-option *ngFor="let option of options" [value]="option.value" [disabled]="option.selected">
        {{ option.key }}
      </mat-option>
    </mat-select>

    <mat-select
      [(ngModel)]="value"
      name="type"
      [required]="required"
      (selectionChange)="selectType($event)"
      *ngIf="options.length == 0">
      <mat-option [value]="null" [disabled]="true">
        <div class="nothingData">
          <span>Não há dados</span>
          <div *ngIf="finSelectButton" class="mat-icon">
            <mat-icon [matTooltip]="finSelectButton.label" (click)="finSelectButton.callback()">add</mat-icon>
          </div>
        </div>
      </mat-option>
    </mat-select>
  </ng-container>
</mat-form-field>
