<div class="customersList">
  <mat-card class="customer-card add-card">
    <app-fin-add-button></app-fin-add-button>
    <mat-card-title>Nova carteira</mat-card-title>
  </mat-card>
  <mat-card class="customer-card">
    <mat-card-title>Nubank</mat-card-title>
    <mat-card-title-group>
      <mat-card-subtitle>Saldo atual</mat-card-subtitle>
      
      <mat-card-content> R$ 9000,00 </mat-card-content>
    </mat-card-title-group>
    
    <mat-card-title-group>
      <mat-card-subtitle>Tipo</mat-card-subtitle>
      <mat-card-content> Outros </mat-card-content>
    </mat-card-title-group>
  </mat-card>
</div>
