div.customersList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.customer-card {
  margin: 10px;
  width: 350px;
  height: 120px;
  margin-bottom: 8px;
  border-radius: 30px;
}
.add-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
app-fin-add-button{
  margin: 15px;
}
mat-card-title-group{
  margin-top: 20px;
}
mat-card-subtitle{
  font-size: 1rem;
}
mat-card-content{
  font-size: 0.9rem;
  color: rgb(4, 180, 4);
  font-weight: 500;
}