<main>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd/MM/YYYY' }}</td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Carteira</th>
      <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          red: element.transactionType === transactionTypes.expense,
          green: element.transactionType === transactionTypes.revenue
        }">
        {{ element.value | currency: 'BRL':'symbol':'1.2-2':'pt-BR' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">Ações</th>
      <td mat-cell *matCellDef="let element" class="actions-list">
        <fin-icon-button (click)="openTransactionEditorDialog(element)" icon="edit"></fin-icon-button>
        <fin-icon-button (click)="openConfirmationDialog(element)" icon="delete" color="warn"></fin-icon-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</main>
