main{
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
table{
  margin-top: 15px;
  width: 100%;
}
td.actions-list{
  display: flex;
  margin-top: 7px;
}
fin-icon-button{
  margin-right: 5px;
}
.red{
  color:#f44336;
}
.green{
  color: #4CAF50;
}