form {
    width: 90%;
    height: 90%;
    display: flex;
}

form>div.first-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 90%;
}

form>div.second-div {
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

form>div.second-div>#submitButton {
    height: 12%;
    font-size: 1rem;
}

app-fin-input.app-fin-input {
    font-size: 1.3rem;
}