div.perfilComponent{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 90%;
    height: 10%;
    padding: 25px;
    margin: 0;
}
form {
    width: 90%;
    height: 90%;
    display: flex;
}

form>div.first-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 90%;
}

form>div.second-div {
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

form>div.second-div>#submitButton {
    height: 12%;
    font-size: 1rem;
}

fin-input.fin-input {
    font-size: 1.3rem;
}