<main class="mat-elevation-z3">
    <form [formGroup]="form" (ngSubmit)="saveChanges()">
        <div class="first-div">
            <mat-form-field class='mat-form-field' appearance="standard">
                <mat-label>Nome de usuário</mat-label>
                <input type='text' matInput formControlName="name">

            </mat-form-field>
            <mat-form-field class='mat-form-field' appearance="standard">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email">
            </mat-form-field>
        </div>
        <div class="second-div">
            <button type="submit" id="submitButton" mat-raised-button color="primary" [disabled]="!canSave()">
                Salvar alterações
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</main>