<app-config-view title="Segurança">
  <form [formGroup]="form" (ngSubmit)="saveChanges()">
    <div class="first-div">
      <fin-input
        label="Senha atual"
        type="password"
        [formControlName]="securitySettingsFormConstrols.actualPassword"
        class="fin-input"
        [required]="true"></fin-input>
      <fin-input
        label="Nova senha"
        placeholder="Ex:aB@%3nbx"
        type="password"
        [formControlName]="securitySettingsFormConstrols.newPassword"
        class="fin-input"
        [required]="true"
        hint="Senha deve possuir no mínimo 8 caracteres, um caractere especial, uma letra maiúscula, uma letra minúscula e um número."></fin-input>
      <fin-input
        label="Senha atual"
        type="password"
        [formControlName]="securitySettingsFormConstrols.confirmPassword"
        class="fin-input"
        [required]="true"></fin-input>
    </div>
    <div class="second-div">
        <fin-submit-button
        label="Salvar alterações"
        [disabled]="!canSave()"></fin-submit-button>
    </div>
  </form>
</app-config-view>
