div.content {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

app-customer-list {
  width: 71%;
  height: 100%;
}

div.divTotalBalance {
  width: 29%;
  display: flex;
  justify-content: flex-end;
}
