div.content {

  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

app-customer-list {
  width: 65%;
  height: 100%;
}

div.divTotalBalance {
  width: 35%;
  display: flex;
  justify-content: end;
}
mat-card.totalBalanceCard{
  margin: 10px;
  width: 300px;
  height: 55px;
  border-radius: 30px;
  
}