@import url(./extra-small.css);
@import url(./small.css);
@import url(./medium.css);
@import url(./extra-large.css);

div.fin-icon-button>button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  height: 40px !important;
  width: 40px !important;
}