<header>
  <app-fin-title [label]="label"></app-fin-title>
  <app-fin-close-button (click)="closeEditorDialog()"></app-fin-close-button>
</header>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <app-fin-input-currency
      class="app-fin-input"
      label="Saldo"
      [formControlName]="formControls.balance"
      [required]="true"
      ></app-fin-input-currency>

    <app-fin-input
      class="app-fin-input"
      label="Nome"
      type="text"
      [formControlName]="formControls.nameFormControl"
      [required]="true"></app-fin-input>

    <app-fin-select
      [formControlName]="formControls.type"
      [options]="selectOptions"
      label="Tipo de carteira"
      [required]="true">
    </app-fin-select>
  </div>
  <div class="div-app-fin-submit-button">
    <app-fin-submit-button label="Salvar" class="app-fin-submit-button" [disabled]="!canSave()">

    </app-fin-submit-button>
  </div>
</form>
