<app-config-view title="Perfil">
  <form [formGroup]="form" (ngSubmit)="saveChanges()">
    <ng-container *ngIf="!smallScreen">
      <div class="first-div">
        <fin-input
          class="fin-input"
          label="Nome de usuário"
          type="text"
          [formControlName]="profileSettingFormControls.nameFormControl"
          [required]="true"></fin-input>
  
        <fin-input class="fin-input" label="Email" type="text" [formControlName]="profileSettingFormControls.email" [required]="true"></fin-input>
      </div>
      <div class="second-div">
        <fin-button type='submit' [disabled]="!canSave()">Salvar alterações<mat-icon>send</mat-icon></fin-button>
      </div>
    </ng-container>
    
    <ng-container *ngIf="smallScreen">
      <div class="first-div">
        <fin-input
          class="fin-input"
          label="Nome de usuário"
          type="text"
          [formControlName]="profileSettingFormControls.nameFormControl"
          [required]="true"></fin-input>
  
        <fin-input class="fin-input" label="Email" type="text" [formControlName]="profileSettingFormControls.email" [required]="true"></fin-input>
        <fin-button type="submit" color="primary" [disabled]="!canSave()">Salvar alterações<mat-icon>send</mat-icon></fin-button>
      </div>
    </ng-container>
  </form>
</app-config-view>
